
<html ng-app="fireLearning">
	<head>
		<meta charset="UTF-8">
		<title>消防学习</title>

		<!-- Firebase -->
		<script src="https://firebase.c2cbc.com/js/client/2.2.7/firebase.js"></script>

		<!-- Angular -->
		<script src="https://ajax.c2cmalls.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
		<script src="https://ajax.c2cmalls.com/ajax/libs/angularjs/1.4.0/angular-route.js"></script>
	
		<!-- AngularFire -->
		<script src="https://firebase.c2cbc.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
		<script src="script.js"></script>

		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://cdn.c2cmalls.com/bootstrap/3.3.4/css/bootstrap.min.css">    
	</head>
	<body ng-controller="AuthCtrl">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header" ng-show="authData">
          <a class="navbar-brand" href="">
            <img class="profileImage" ng-src="{{getUserImage()}}"/>
          </a>
        </div>
        <p ng-show="authData" class="navbar-text">{{cachedProfile.name}} - {{cachedProfile.email}}</p>

        <ul class="nav navbar-nav navbar-right">
          <li ng-click="login('google')" ng-hide="authData"><a href>登录谷歌</a></li>
       <li ng-click="login('github')" ng-hide="authData"><a href>Github</a></li>
          <li ng-click="login('facebook')" ng-hide="authData"><a href>Facebook</a></li>
          <li ng-click="logout()" ng-show="authData"><a href>退出</a></li>
        </ul>
      </div>
    </nav>
    
    <div class="content" ng-show="authData">
		
		</div>
	</body>
